body {
	background: #FFFFFF;
	margin: 0;
	font-family: Trebuchet MS, Arial;
	font-size: 10px;
}

@media screen and (min-width: 481px) and (max-width: 640px) {
	body {
		font-size: 9px;
	}
}
@media screen and (max-width: 480px) {
	body {
		font-size: 8px;
	}
}

.outer-container {
	width: 90%;
	min-width: 320px;
	max-width: 800px;
	margin: 0 auto;
}
.header-container {
	width: 90%;
	min-width: 320px;
	border-bottom: 4px double #EEEEEE;
	font-size: 400%;
	font-weight: bold;
	text-align: center;
}
.header-container .header-text {
	padding: 2%;
	text-shadow: 0 0 10px #CCCCCC;
}
.header-container .header-sub-text {
	font-size: 30%;
	vertical-align: baseline;
}
.main-container {
	width: 90%;
	min-width: 320px;
}

.project-container {
	padding: 2%;
	border-bottom: 1px solid #EEEEEE;
	font-size: 160%;
}
.project-header {
	padding: 0 0 1% 0;
	font-size: 160%;
	font-weight: bold;
}
.project-desc {
	padding: 0 4% 0 4%;
}
.project-link-container {
	padding: 1% 0 1% 0;
}
a.project-link {
	color: #4488CC;
	font-family: consolas;
	font-size: 80%;
	text-decoration: none;
}
a.project-link:hover {
	text-decoration: underline;
}
